.type-2 {
    margin-top: 50px;
    height: 565px;
    width: auto;
    .row {
        height: 100%;
        width: 100%;
        .pro-left1 {
            img {
            }
        }
        .pro-right1{
        } 
    }
}