.type-2 {
    margin-top: 50px;
  .pro-left1{
    background-repeat: no-repeat;
    height: 100%;
  }
  .pro-right1{
    // background-image: url(/images/425781.jpg);
    background-repeat: no-repeat;
  }
}